.container{
    margin-bottom: 100px;
}
.pink-bg{
    background-color: #fceae8;
    border-radius: 10px ;
}
.carousel-item{
    padding: 40px 40px;
}
.price{
    color: #FF136F;
}
.buy-now{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%) ;
    color: #fff;
    border: none;
    border-radius: 8px; 
    padding: 9px 25px;
    cursor: pointer;

}
.dog1, .dog2, .dog3{
padding: 10px 30px;
border-radius: 15px;
}
.dog1{
    background-color: darkgoldenrod;
}
.dog2{
    background-color: rgb(58, 165, 207);
}
.dog3{
    background-color: rgb(27, 105, 27);
}
.categories h1{
color: white;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#Contact{
    height: 300px;
} 
#Contact h6{
    color: gray;
}
footer{
    text-align: center;
}